{% extends 'basic.html' %}

{% load static %}

{% block additional_head %}

<script type='module' src="{% static 'user_app/vue_scripts/user_page.js' %}"></script>
<link rel="stylesheet" href="{% static 'user_app/style.css' %}">

{% endblock %}

{% block header %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'user:user_page' user.username %}">Персонажи</a>
      <a class="nav-item nav-link" href="{% url 'combat:combat_list' %}">Бои</a>
      <a class="nav-item nav-link" href="#">Настройки</a>
    </div>
  </div>
</nav>

{% endblock %}

{% block content %}

    <div class="main container-fluid">
        <div id="app">
            <request_handler ident='user'  id='{{user.id}}' name='{{user.username}}' is_staff='{{user.is_staff}}'></request_handler>
            <request_handler ident='owner'  id='{{owner.id}}' name='{{owner.username}}' is_staff='{{owner.is_staff}}'></request_handler>
            <heroes></heroes>
        </div>
    </div>

{% endblock %}