{% extends 'basic.html' %}

{% load static %}

{% block additional_head %}

<script type='module' src="{% static 'user_app/vue_scripts/user_page.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="main container-fluid">
        <div id="app">
            <request_handler ident='user'  id='{{user.id}}' name='{{user.username}}' is_staff='{{user.is_staff}}'></request_handler>
            <request_handler ident='owner'  id='{{owner.id}}' name='{{owner.username}}' is_staff='{{owner.is_staff}}'></request_handler>
            <heroes></heroes>
        </div>
    </div>

{% endblock %}