{% extends 'basic_register.html' %}

{% block title %}Register page.{% endblock %}

{% block content %}

{{request.session.hero}}

<form action="{% url 'main_app:register' %}" method="POST">
    {% csrf_token %}
    <div class="d-flex flex-column">
        {% for item in form %}
            <div class="form-group">
                <div class="w-50 d-inline">
                    {{item.label}}
                </div>
                <div class="w-50 d-inline">
                    {{item}}
                </div>
                <div class="w-50 d-inline">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Отправить">
    </div>
</form>

{% endblock %}