.hero-block {
	border: 2px solid rgba(0,0,0,0.2);
	min-height: 200px;
	min-width: 150px;
	-webkit-box-shadow: 0px 6px 40px -17px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 40px -17px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 40px -17px rgba(0,0,0,0.75);
}

.hero-header {
	background-color: #0E78DB;
	color: white;
	text-align: center;
	font-size: 18px;
	height: 54px;
}

.outer-bar {
	height: 20px;
	border: none;
	border-radius: none;
	background-color: #F5F5F5;
}

.inner-bar {
	background-color: #28A745;
}

.inner-bar-full {
	background-color: #DB0E48 !important;
	color: white !important;
	transition-duration: 1s;
	cursor: pointer;
}

.inner-bar-full:hover {
	background-color: #EEA11B !important;
	color: white !important;
	transition-duration: 1s;
}

.inner-text {
	position: absolute;
	left: calc(50% - 125px);
	width: 250px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}

.hero-army {
	border-top: 2px solid rgba(0,0,0,0.2);
}

.blank-hero {
	text-align: center;
	line-height: 100%;
	position: absolute;
	font-size: 100px;
	left: calc(50% - 34.2px);
	top: calc(50% - 70px);
	color: #0E78DB;
	transition-duration: 1s;
}

.blank-hero:hover {
	text-decoration: none;
	color: #DB0E48;
	transition-duration: 1s;
}

.hero-block-selected {
	background-color: #DDF4FF;
}

.unit-count {
	position: absolute;
	right: 0px;
	top: 22px;
}

.unit-img-block {
	display: block;
	position: relative;
	outline: 1px solid rgba(0,0,0,0.2);
	margin: 0 2.5px;
}

.popup {
	position: absolute;
	width: 70%;
	height: 70%;
	left:15%;
	top:15%;
	background-color: white;
	padding: 15px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 15px;
}

.popup-2 {
	position: absolute;
	width: 100%;
	height: 100%;
	left:0%;
	top:0%;
	padding: 0 15px;
}

.hero-block-2 {
	border: 2px solid rgba(0,0,0,0.2);
	background-color: white;
	height: 100%;
	padding: 15px;
}

.close-button {
	position: absolute;
	right: 22px;
	top: 8px;
	display: inline-block;
	line-height: 5px;
	font-size: 12px;
	cursor: pointer;
}

.button_additional {
	text-align: center;
	line-height: 32px;
	font-size: 25px;
	font-weight: 600;
	display: block;	
	height: 40px;	
	width: 40px;
	border: 2px solid #007BFF;
	margin: 0 10px;
	border-radius: 5px;
	color: #007BFF;
	transition-duration: 0.5s;
}

.button_additional:hover {
	text-decoration: none;
	border: 2px solid #DB0E48;
	color: #DB0E48;
	transition-duration: 0.5s;
}

.button_additional-sm {
	text-align: center;
	line-height: 10px;
	font-size: 12px;
	font-weight: 600;
	display: block;	
	height: 16px;	
	width: 16px;
	border: 2px solid #007BFF;
	border-radius: 5px;
	color: #007BFF;
	transition-duration: 0.5s;
}

.button_additional-sm:hover {
	text-decoration: none;
	border: 2px solid #DB0E48;
	color: #DB0E48;
	transition-duration: 0.5s;
}

.button_additional-sm-admin {
	text-align: center;
	line-height: 10px;
	font-size: 12px;
	font-weight: 600;
	display: block;	
	height: 16px;	
	width: 16px;
	border: 2px solid #710A2A;
	border-radius: 5px;
	color: #710A2A;
	transition-duration: 0.5s;
}

.hero-param-td {
	width: 30px;
	align-items: center;
	text-align: center;
}